<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLyIRJ5StprauPOeko179h5qtumjMjNmU</string>
	<key>GCM_SENDER_ID</key>
	<string>256208024072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelBuddy</string>
	<key>PROJECT_ID</key>
	<string>travelbuddy-68fba</string>
	<key>STORAGE_BUCKET</key>
	<string>travelbuddy-68fba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256208024072:ios:98044cb0f67676423bd7bd</string>
</dict>
</plist>